@import '~materialize-css/sass/materialize';

#searchLine{
  margin-bottom: 0em;
}

#divFilter{
  height: 100%;
}

.carousel{
  margin-top: 1em;
  height: 20em !important;
}

.imageSlider{
  width: auto !important; 
  height: 20em !important;
}