@import '~materialize-css/sass/materialize';

#searchLine{
  margin-bottom: 0em;
}

.carousel{
  margin-top: 1.5em;
  margin-bottom: 0,5em;
  height: 25em !important;
}

.imageSlider{
  width: auto !important; 
  height: 25em !important;
}

#filter{
  margin-top: 5%;
}

#searchField{
  margin-top: 4%;
  margin-bottom: 0;
}

#firstName{
  margin-bottom: 0 !important;
}

#divDetails{
  border-right-width: 5px !important;
  border-right-color: black;
}

#calendar{
  overflow-y: scroll;
  height: 92vh;
}

.calendarCol{
  width: (100 / 7);
}

#navbar{
  height: 6vh !important;
}